.home {
    background-color: #030b6b;
    min-height: 100vh;
  
    & nav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      color: #fff;
    }

    .logo-div span {
      color: #fff;
      font-size: 30px;
      font-weight: 500;
    }
    .logo-div{
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
    }
  }
  .home-links {
    display: flex;
    justify-content: center;
    align-items: center;
    & li a {
      color: #fff;
    }
    & > * {
      margin-left: 1rem;
      color: #fff;
    }
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-text {
    width: 50%;
    & > * {
      color: #fff;
      margin-bottom: 2rem;
    }
    & > p {
      display: block;
      font-size: 1.7rem;
    }
    & .hero-buttons a {
      color: #fff;
    }
  }
  .hero-image {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    .hero {
      flex-direction: column;
    }

    nav {
      flex-direction: column;
    }
  
    .hero-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .hero-image {
      width: 80%;
      & img {
        width: 100%;
      }
    }
  }